In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [0]:
!mkdir .kaggle

In [0]:
import json
token = {"username":"sushmita1794","key":"863998e4922d86a43de1845b384363d1"}

with open('/content/.kaggle/kaggle.json', 'w') as file: json.dump(token, file)

In [0]:
!chmod 600 /content/.kaggle/kaggle.json

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [9]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [10]:
!kaggle datasets download -d usdot/flight-delays

Downloading flight-delays.zip to {/content}/datasets/usdot/flight-delays
 95% 182M/191M [00:02<00:00, 64.9MB/s]
100% 191M/191M [00:02<00:00, 78.7MB/s]

In [11]:
!unzip /content/sample_data/flight-delays.zip

Archive:  /content/sample_data/flight-delays.zip
  inflating: airlines.csv
  inflating: airports.csv
  inflating: flights.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [13]:
#load the csv file and use the first 100000 rows of data
df_use = pd.read_csv('flights.csv')
df = df_use.sample(n=100000).copy()
del df_use

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df.head()

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
1438774  2015      4    3  ...            NaN                 NaN            NaN
5159743  2015     11   19  ...            NaN                 NaN            NaN
5540859  2015     12   14  ...            NaN                 NaN            NaN
5406264  2015     12    5  ...            NaN                 NaN            NaN
5599627  2015     12   17  ...            NaN                 NaN            NaN

[5 rows x 31 columns]

In [15]:
df.groupby('DEPARTURE_DELAY').size()

DEPARTURE_DELAY
-36.0      1
-35.0      1
-33.0      1
-30.0      1
-28.0      2
          ..
 886.0     1
 935.0     1
 1136.0    1
 1210.0    1
 1380.0    1
Length: 445, dtype: int64

In [0]:
df = df.loc[~df.CANCELLED.isin([1])]

In [0]:
df['OUTPUT_LABEL'] = (df.DEPARTURE_DELAY >= 0).astype('int')

In [18]:
df_airports = pd.read_csv('airports.csv')
df_airports.head()

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447

[5 rows x 7 columns]

In [0]:
df.loc[~df.ORIGIN_AIRPORT.isin(df_airports.IATA_CODE.values), 'ORIGIN_AIRPORT'] = 'OTHER'
df.loc[~df.DESTINATION_AIRPORT.isin(df_airports.IATA_CODE.values), 'DESTINATION_AIRPORT'] = 'OTHER'

In [20]:
cols_num = ['SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'DAY_OF_WEEK']
cols_num
df[cols_num].isnull().sum()

SCHEDULED_DEPARTURE    0
SCHEDULED_TIME         0
DISTANCE               0
SCHEDULED_ARRIVAL      0
DAY_OF_WEEK            0
dtype: int64

In [21]:
cols_cat = ['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']
cols_cat
df[cols_cat].isnull().sum()

AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
dtype: int64

In [22]:
df[cols_cat].nunique()

AIRLINE                 14
ORIGIN_AIRPORT         321
DESTINATION_AIRPORT    323
dtype: int64

In [0]:
df_cat = pd.get_dummies(df[cols_cat], drop_first=True)

In [24]:
df_cat.head()

         AIRLINE_AS  ...  DESTINATION_AIRPORT_YUM
1438774           0  ...                        0
5159743           0  ...                        0
5540859           0  ...                        0
5406264           0  ...                        0
5599627           0  ...                        0

[5 rows x 655 columns]

In [0]:
df = pd.concat([df, df_cat], axis = 1)

In [26]:
cols_all_cat = list(df_cat.columns)
print('number of categorical: ', len(cols_all_cat))

number of categorical:  655

In [29]:
cols_input = cols_num + cols_all_cat
df_data = df[cols_input + ['OUTPUT_LABEL']]
df_data.head()

         SCHEDULED_DEPARTURE  ...  OUTPUT_LABEL
1438774                  645  ...             0
5159743                  725  ...             0
5540859                  723  ...             1
5406264                  802  ...             0
5599627                 1825  ...             0

[5 rows x 661 columns]

In [0]:
df_data = df_data.sample(n = len(df_data))
df_data = df_data.reset_index(drop = True)

In [31]:
df_valid_test = df_data.sample(frac=0.30)
print('Split size: %.3f' %(len(df_valid_test)/len(df_data)))

Split size: 0.300

In [0]:
df_test = df_valid_test.sample(frac = 0.5)
df_valid = df_valid_test.drop(df_test.index)

In [0]:
df_train_all = df_data.drop(df_valid_test.index)

In [34]:
print('Test n = %d' %(len(df_test)))
print('Valid n = %d' %(len(df_valid)))
print('Train n = %d' %(len(df_train_all)))
df_test

Test n = 14763
Valid n = 14763
Train n = 68893

       SCHEDULED_DEPARTURE  ...  OUTPUT_LABEL
32216                 1845  ...             0
33211                 2140  ...             0
899                   1644  ...             0
50174                 1353  ...             1
2254                   940  ...             1
...                    ...  ...           ...
95220                 1150  ...             0
6831                  1555  ...             1
51916                  805  ...             0
65768                 1040  ...             0
34091                 1800  ...             0

[14763 rows x 661 columns]

In [35]:
rows_pos = df_train_all.OUTPUT_LABEL == 1
df_train_pos = df_train_all.loc[rows_pos]
df_train_neg = df_train_all.loc[~rows_pos]

df_train = pd.concat([df_train_pos, df_train_neg.sample(n=len(df_train_pos))], axis=0)

df_train = df_train.sample(n=len(df_train)).reset_index(drop=True)

print('Train balanced prevalence(n= %d)'%(len(df_train)))

Train balanced prevalence(n= 59456)

In [36]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import accuracy_score
import lightgbm as lgb
y = df_data.OUTPUT_LABEL
X = df_data.drop(['OUTPUT_LABEL'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

dtrain=xgb.DMatrix(X_train,label=y_train)
dtest=xgb.DMatrix(X_test)
parameters={'max_depth':7, 'silent':1,'objective':'binary:logistic','eval_metric':'auc','learning_rate':.05}

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [38]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from datetime import datetime 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix 
models = DecisionTreeClassifier()
ada = AdaBoostClassifier(n_estimators=100, random_state=0)

a = 0.1
b = 0.1

fact = (1-a)/b
topN = int(a * len(X_train))
randN = int(b * len(X_train))
print(type(topN))

for i in range(0, 2):
  models.fit(X_train, y_train)
  preds = models.predict(X_test)
  residual = (y_test - preds).astype("float")
  g = np.where(residual < 0, (residual**2)*10.0, residual**2) #loss
  w = np.ones(len(g))
  sorted_X = np.argsort(abs(g))
  topSet = sorted_X[1:topN:1]
  rand = sorted_X[topN:len(X):1]
  randSet = np.random.choice(rand, randN)
  usedSet = np.concatenate((topSet, randSet))
  w[randSet] *= fact
  
  X_arr = X_train.to_numpy()
  Y_arr = y_train.to_numpy()
  X_I = [None] * len(usedSet)
  Y_g = [None] * len(usedSet)
  W_I = [None] * len(usedSet)

  for i in range(0,len(usedSet)):
    index = usedSet[i]
    X_I[i] = X_arr[index]
    Y_g[i] = Y_arr[index]
    W_I[i] = w[index]

start=datetime.now()
ada.fit(X_I, Y_g, W_I)
y_predict_DTC = ada.predict(X_test)
stop=datetime.now()
execution_time_lgbm = stop-start
print(execution_time_lgbm)
print(accuracy_score(y_test, y_predict_DTC))
results = confusion_matrix(y_test, y_predict_DTC)
print(results)

<class 'int'>
0:00:22.520685
0.6156777077829709
[[8381 2781]
 [4784 3738]]