In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [0]:
!mkdir .kaggle

In [0]:
import json
token = {"username":"sushmita1794","key":"863998e4922d86a43de1845b384363d1"}

with open('/content/.kaggle/kaggle.json', 'w') as file: json.dump(token, file)

In [0]:
!chmod 600 /content/.kaggle/kaggle.json

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [10]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [11]:
!kaggle datasets download -d usdot/flight-delays

Downloading flight-delays.zip to {/content}/datasets/usdot/flight-delays
 97% 185M/191M [00:02<00:00, 75.3MB/s]
100% 191M/191M [00:02<00:00, 83.3MB/s]

In [12]:
!unzip /content/sample_data/flight-delays.zip

Archive:  /content/sample_data/flight-delays.zip
  inflating: airlines.csv
  inflating: airports.csv
  inflating: flights.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [14]:
#load the csv file and use the first 100000 rows of data
df_use = pd.read_csv('flights.csv')
df = df_use.sample(n=100000).copy()
del df_use

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df.head()

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
1120964  2015      3   14  ...            NaN                 NaN            NaN
2536963  2015      6   10  ...            NaN                 NaN            NaN
4034065  2015      9    8  ...            0.0                 0.0            0.0
4632793  2015     10   16  ...            NaN                 NaN            NaN
4857038  2015     10   30  ...            0.0                 0.0            0.0

[5 rows x 31 columns]

In [16]:
df.groupby('DEPARTURE_DELAY').size()

DEPARTURE_DELAY
-38.0      1
-36.0      1
-31.0      1
-29.0      1
-28.0      3
          ..
 989.0     1
 1046.0    1
 1088.0    1
 1165.0    1
 1202.0    1
Length: 473, dtype: int64

In [0]:
df = df.loc[~df.CANCELLED.isin([1])]

In [0]:
df['OUTPUT_LABEL'] = (df.DEPARTURE_DELAY >= 0).astype('int')

In [19]:
df_airports = pd.read_csv('airports.csv')
df_airports.head()

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447

[5 rows x 7 columns]

In [0]:
df.loc[~df.ORIGIN_AIRPORT.isin(df_airports.IATA_CODE.values), 'ORIGIN_AIRPORT'] = 'OTHER'
df.loc[~df.DESTINATION_AIRPORT.isin(df_airports.IATA_CODE.values), 'DESTINATION_AIRPORT'] = 'OTHER'

In [21]:
cols_num = ['SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'DISTANCE', 'SCHEDULED_ARRIVAL', 'DAY_OF_WEEK']
cols_num
df[cols_num].isnull().sum()

SCHEDULED_DEPARTURE    0
SCHEDULED_TIME         0
DISTANCE               0
SCHEDULED_ARRIVAL      0
DAY_OF_WEEK            0
dtype: int64

In [22]:
cols_cat = ['AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']
cols_cat
df[cols_cat].isnull().sum()

AIRLINE                0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
dtype: int64

In [23]:
df[cols_cat].nunique()

AIRLINE                 14
ORIGIN_AIRPORT         321
DESTINATION_AIRPORT    319
dtype: int64

In [0]:
df_cat = pd.get_dummies(df[cols_cat], drop_first=True)

In [25]:
df_cat.head()

         AIRLINE_AS  ...  DESTINATION_AIRPORT_YUM
1120964           0  ...                        0
2536963           0  ...                        0
4034065           0  ...                        0
4632793           0  ...                        0
4857038           0  ...                        0

[5 rows x 651 columns]

In [0]:
df = pd.concat([df, df_cat], axis = 1)

In [27]:
cols_all_cat = list(df_cat.columns)
print('number of categorical: ', len(cols_all_cat))

number of categorical:  651

In [28]:
cols_input = cols_num + cols_all_cat
df_data = df[cols_input + ['OUTPUT_LABEL']]
df_data.head()

         SCHEDULED_DEPARTURE  ...  OUTPUT_LABEL
1120964                 1642  ...             0
2536963                  610  ...             0
4034065                 1155  ...             0
4632793                 1345  ...             1
4857038                 1819  ...             1

[5 rows x 657 columns]

In [0]:
df_data = df_data.sample(n = len(df_data))
df_data = df_data.reset_index(drop = True)

In [30]:
df_valid_test = df_data.sample(frac=0.30)
print('Split size: %.3f' %(len(df_valid_test)/len(df_data)))

Split size: 0.300

In [0]:
df_test = df_valid_test.sample(frac = 0.5)
df_valid = df_valid_test.drop(df_test.index)

In [0]:
df_train_all = df_data.drop(df_valid_test.index)

In [33]:
print('Test n = %d' %(len(df_test)))
print('Valid n = %d' %(len(df_valid)))
print('Train n = %d' %(len(df_train_all)))
df_test

Test n = 14776
Valid n = 14775
Train n = 68951

       SCHEDULED_DEPARTURE  ...  OUTPUT_LABEL
71889                 1440  ...             0
53227                  615  ...             0
144                    850  ...             0
53009                  840  ...             0
84028                 1004  ...             0
...                    ...  ...           ...
1293                   825  ...             0
87103                 1000  ...             1
65104                 1045  ...             0
72444                 2225  ...             0
74592                 1425  ...             1

[14776 rows x 657 columns]

In [34]:
rows_pos = df_train_all.OUTPUT_LABEL == 1
df_train_pos = df_train_all.loc[rows_pos]
df_train_neg = df_train_all.loc[~rows_pos]

df_train = pd.concat([df_train_pos, df_train_neg.sample(n=len(df_train_pos))], axis=0)

df_train = df_train.sample(n=len(df_train)).reset_index(drop=True)

print('Train balanced prevalence(n= %d)'%(len(df_train)))

Train balanced prevalence(n= 59024)

In [35]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import accuracy_score
import lightgbm as lgb
y = df_data.OUTPUT_LABEL
X = df_data.drop(['OUTPUT_LABEL'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

dtrain=xgb.DMatrix(X_train,label=y_train)
dtest=xgb.DMatrix(X_test)
parameters={'max_depth':7, 'silent':1,'objective':'binary:logistic','eval_metric':'auc','learning_rate':.05}

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [0]:
num_round=50
from datetime import datetime 
start = datetime.now() 
xg=xgb.train(parameters,dtrain,num_round) 
stop = datetime.now()

In [37]:
execution_time_xgb = stop-start 
execution_time_xgb

datetime.timedelta(0, 81, 464530)

In [0]:
ypred1=xg.predict(dtest)

In [0]:
for i in range(0,19685): 
    if ypred1[i]>=.5:       # setting threshold to .5 
       ypred1[i]=1 
    else: 
       ypred1[i]=0
ypred2=np.int64(ypred1)
ypred = pd.Series(ypred2)

In [42]:
#calculating accuracy of our model 
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix 

accuracy_xgb = accuracy_score(y_test,ypred)
results1 = confusion_matrix(y_test, ypred)  
print(accuracy_xgb)
print(results1)

0.6335211410588295
[[9272 2090]
 [5130 3209]]

In [0]:
import lightgbm as lgbm
train_data=lgbm.Dataset(X_train,label=y_train)

In [0]:
#setting parameters for lightgbm
param = {'num_leaves':150, 'objective':'binary','max_depth':7,'learning_rate':.05,'max_bin':200}
param['metric'] = ['auc', 'binary_logloss']

In [0]:
#training our model using light gbm
num_round=50
start=datetime.now()
lgbm=lgb.train(param,train_data,num_round)
stop=datetime.now()

In [46]:
execution_time_lgbm = stop-start
execution_time_lgbm

datetime.timedelta(0, 1, 695878)

In [0]:
ypred2=lgbm.predict(X_test)

In [0]:
for i in range(0,9769):
    if ypred2[i]>=.5:       # setting threshold to .5
       ypred2[i]=1
    else:  
       ypred2[i]=0

ypred22=np.int64(ypred2)
ypred23 = pd.Series(ypred22)

In [52]:
accuracy_lgbm = accuracy_score(y_test, ypred23)
results2 = confusion_matrix(y_test, ypred23)  
print(results2)
print(accuracy_lgbm)

[[10346  1016]
 [ 6853  1486]]
0.6005786508299071